* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #EAEAEA !important;
}

.container-style {
    margin-top: 7em;
}

.button-ajouter-style {
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}